AUTHORS text
INSTALL text
NEWS text
MANIFEST.in text
*.bib text
*.cgi text
*.cmake text
*.cmake.in text
doxyfile.in text
*.cpp text
*.dox text
*.h text
*.hpp text
*.h.in text
*.htaccess text
*.html text
*.iss text
*.java text
*.js text
*.pro text
*.py text
*.m text
*.mac text
*.pod text
*.tex text
*.txt text
[Mm]akefile* eol=lf
*.ac eol=lf
*.am eol=lf
*.sh eol=lf
*.eps -text
*.pdf -text
*.png -text
*.sln eol=crlf
*.vcproj eol=crlf
*.vcxproj eol=crlf
*.csproj eol=crlf
*.cs eol=crlf
*.resx eol=crlf
*.kml text
*.kmz -text
