.#*
*.[oa]
*.lo
*.la
*~
.nfs*
\#*#
*.bak
*.gz
*.log
*.zip
*.BAK
*.zip
*.tgz
*.ncb
*.suo
*.exe
*-core
BUILD*
CMakeCache.txt
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
CartConvert
Debug
Debug64
ECEFConvert
EquidistantTest
GeoConvert
Geod
Geod2
GeogTest
GeoidEval
Makefile
Makefile.in
RandomExample
Release
Release64
SWIGTYPE_p_namespace.cs
TAGS
TransverseMercatorTest
UpgradeLog.XML
UpgradeLog2.XML
_CPack_Packages
_UpgradeReport_Files
aclocal.m4
archive
autom4te.cache
cmake_install.cmake
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
distrib
doc.log
geodesic.gie
geodesic.gie-2.0
geoids-distrib
html
install-sh
install_manifest.txt
libtool
ltmain.sh
m4
make.exe.stackdump
missing
scratch
srcL
stamp-h1
testdata
workspace
x64
