AUTHORS text
INSTALL text
NEWS text
*.in text
*.bib text
*.cgi text
*.cmake text
*.cpp text
*.c text
*.for text
*.inc text
*.dox text
*.h text
*.hpp text
*.htaccess text
*.html text
*.iss text
*.java text
*.js text
*.pro text
*.py text
*.m text
*.mac text
*.pod text
*.tex text
*.txt text
*.xml text
*.svg text
*.md text
*.json text
[Mm]akefile* eol=lf
*.ac eol=lf
*.am eol=lf
*.sh eol=lf
*.eps -text
*.pdf -text
*.png -text
*.gif -text
*.sln eol=crlf
*.vcproj eol=crlf
*.vcxproj eol=crlf
*.csproj eol=crlf
*.resx eol=crlf
*.settings eol=crlf
*.kml text
*.kmz -text
*.cs text
*.vb text
