body {
    font-family: sans-serif;
    background-color: whitesmoke;
}
blockquote {
    font-size: 90%;
}
a {
    font-size: 90%;
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: darkgreen;
}
a:hover {
    color: darkred;
}
a:visited {
    color: darkblue;
}
