.deps
.libs
Makefile.in
Makefile
TAGS
CMakeFiles
cmake_install.cmake
geographiclib-get-geoids
geographiclib-get-gravity
geographiclib-get-magnetic
*.log
CartConvert
ConicProj
GeoConvert
Geod
GeodesicProj
GeoidEval
Gravity
MagneticField
Planimeter
TransverseMercatorProj
