CartConvert
EquidistantTest
GeoConvert
Geod
GeoidEval
TransverseMercatorTest
.deps
.libs
Makefile.in
Makefile
Planimeter
TAGS
*.usage
CMakeFiles
cmake_install.cmake
geographiclib-get-geoids
geographiclib-get-gravity
geographiclib-get-magnetic
*.log
ConicProj
GeodesicProj
TransverseMercatorProj
